### LIBRERIE

In [1]:
import pandas as pd
import numpy as np

### CARICO IL DATASET IN MEMORIA

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mariocuomo/progettoSII/main/ratings.csv')
df_film = pd.read_csv('https://raw.githubusercontent.com/mariocuomo/progettoSII/main/movies.csv')

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
df.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [5]:
df_film.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df_film.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

### CREO LA RATING MATRIX

In [7]:
rating_matrix = df.pivot(index = 'userId', columns = 'movieId', values = 'rating')

In [8]:
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### UTILIZZO LA RATING MATRIX PER CALCOLARE LA MEDIA DI OGNI UTENTE

In [9]:
rating_matrix['average'] = rating_matrix.mean(axis=1)

In [10]:
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193567,193571,193573,193579,193581,193583,193585,193587,193609,average
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.366379
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.948276
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.435897
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.555556
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.636364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.657399
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.786096
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.134176
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.270270
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.688556

In [11]:
media_utenti = dict()

for index, row in rating_matrix.iterrows():
    media_utenti[index] = row['average']
media_utenti[428]

2.64

In [12]:
del rating_matrix['average']
rating_matrix=rating_matrix.fillna(0)
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### CALCOLO IL COEFFICIENTE DI CORRELAZIONE DI PEARSON, MATRICE USER_SIMILRITY

In [13]:
rating_matrix_trasposta = df.pivot(index = 'movieId', columns = 'userId', values = 'rating').fillna(0)

In [14]:
rating_matrix_trasposta

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
user_similarity = rating_matrix_trasposta.corr(method='pearson').fillna(0)

In [16]:
user_similarity=pd.DataFrame(user_similarity)

In [17]:
user_similarity

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.019400,0.053056,0.176920,0.120866,0.104418,0.143793,0.128547,0.055268,-0.000298,...,0.066256,0.149942,0.186978,0.056530,0.134412,0.121981,0.254200,0.262241,0.085434,0.098719
2,0.019400,1.000000,-0.002594,-0.003804,0.013183,0.016257,0.021567,0.023750,-0.003448,0.061880,...,0.198549,0.010888,-0.004030,-0.005345,-0.007919,0.011299,0.005813,0.032730,0.024373,0.089329
3,0.053056,-0.002594,1.000000,-0.004556,0.001887,-0.004577,-0.005634,0.001703,-0.003111,-0.005501,...,0.000150,-0.000585,0.011211,-0.004822,0.003678,-0.003246,0.012885,0.008096,-0.002963,0.015962
4,0.176920,-0.003804,-0.004556,1.000000,0.121018,0.065719,0.100602,0.054235,0.002417,0.015615,...,0.072848,0.114287,0.281866,0.039699,0.065493,0.164831,0.115118,0.116861,0.023930,0.062523
5,0.120866,0.013183,0.001887,0.121018,1.000000,0.294138,0.101725,0.426576,-0.004185,0.023471,...,0.061912,0.414931,0.095394,0.254117,0.141077,0.090158,0.145764,0.122607,0.258289,0.040372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.121981,0.011299,-0.003246,0.164831,0.090158,0.047506,0.172499,0.081913,0.057989,0.054877,...,0.153892,0.084208,0.224637,0.035251,0.106752,1.000000,0.115999,0.188354,0.052385,0.093851
607,0.254200,0.005813,0.012885,0.115118,0.145764,0.142169,0.173293,0.178133,0.003257,-0.004809,...,0.080034,0.187588,0.173025,0.126267,0.101138,0.115999,1.000000,0.258245,0.142533,0.098518
608,0.262241,0.032730,0.008096,0.116861,0.122607,0.137954,0.305439,0.175912,0.086229,0.048373,...,0.136316,0.174069,0.164479,0.133734,0.144896,0.188354,0.258245,1.000000,0.109563,0.248944
609,0.085434,0.024373,-0.002963,0.023930,0.258289,0.207124,0.084494,0.421627,-0.003937,0.014983,...,0.029664,0.331053,0.046000,0.232115,0.089810,0.052385,0.142533,0.109563,1.000000,0.033713
610,0.098719,0.089329,0.015962,0.062523,0.040372,-0.010400,0.163775,0.058168,0.055265,0.087036,...,0.200487,0.050806,0.064594,0.018502,0.072727,0.093851,0.098518,0.248944,0.033713,1.000000

In [18]:
user_similarity.insert(0, 'userId', user_similarity.columns)

In [19]:
user_similarity

userId,userId,1,2,3,4,5,6,7,8,9,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1,1.000000,0.019400,0.053056,0.176920,0.120866,0.104418,0.143793,0.128547,0.055268,...,0.066256,0.149942,0.186978,0.056530,0.134412,0.121981,0.254200,0.262241,0.085434,0.098719
2,2,0.019400,1.000000,-0.002594,-0.003804,0.013183,0.016257,0.021567,0.023750,-0.003448,...,0.198549,0.010888,-0.004030,-0.005345,-0.007919,0.011299,0.005813,0.032730,0.024373,0.089329
3,3,0.053056,-0.002594,1.000000,-0.004556,0.001887,-0.004577,-0.005634,0.001703,-0.003111,...,0.000150,-0.000585,0.011211,-0.004822,0.003678,-0.003246,0.012885,0.008096,-0.002963,0.015962
4,4,0.176920,-0.003804,-0.004556,1.000000,0.121018,0.065719,0.100602,0.054235,0.002417,...,0.072848,0.114287,0.281866,0.039699,0.065493,0.164831,0.115118,0.116861,0.023930,0.062523
5,5,0.120866,0.013183,0.001887,0.121018,1.000000,0.294138,0.101725,0.426576,-0.004185,...,0.061912,0.414931,0.095394,0.254117,0.141077,0.090158,0.145764,0.122607,0.258289,0.040372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,606,0.121981,0.011299,-0.003246,0.164831,0.090158,0.047506,0.172499,0.081913,0.057989,...,0.153892,0.084208,0.224637,0.035251,0.106752,1.000000,0.115999,0.188354,0.052385,0.093851
607,607,0.254200,0.005813,0.012885,0.115118,0.145764,0.142169,0.173293,0.178133,0.003257,...,0.080034,0.187588,0.173025,0.126267,0.101138,0.115999,1.000000,0.258245,0.142533,0.098518
608,608,0.262241,0.032730,0.008096,0.116861,0.122607,0.137954,0.305439,0.175912,0.086229,...,0.136316,0.174069,0.164479,0.133734,0.144896,0.188354,0.258245,1.000000,0.109563,0.248944
609,609,0.085434,0.024373,-0.002963,0.023930,0.258289,0.207124,0.084494,0.421627,-0.003937,...,0.029664,0.331053,0.046000,0.232115,0.089810,0.052385,0.142533,0.109563,1.000000,0.033713
610,610,0.098719,0.089329,0.015962,0.062523,0.040372,-0.010400,0.163775,0.058168,0.055265,...,0.200487,0.050806,0.064594,0.018502,0.072727,0.093851,0.098518,0.248944,0.033713,1.000000

### EFFETTUO LA PREVISIONE PER L'UTENTE CON ID 1

In [20]:
rslt_df = user_similarity[user_similarity['userId'] == 1]

In [21]:
rslt_df

userId,userId,1,2,3,4,5,6,7,8,9,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1,1.0,0.0194,0.053056,0.17692,0.120866,0.104418,0.143793,0.128547,0.055268,...,0.066256,0.149942,0.186978,0.05653,0.134412,0.121981,0.2542,0.262241,0.085434,0.098719

In [22]:
#seleziona i top k
lst_similarita=[]
for index, value in (rslt_df.iloc[0]).items():
    if index != 'userId':
        lst_similarita.append((index,value,rating_matrix.iloc[index-1]))
lst_similarita.sort(key = lambda x: x[1], reverse=True)

top_k=lst_similarita[1:10]

In [23]:
top_k[1]

(313,
 0.33387548288121716,
 movieId
 1         0.0
 2         0.0
 3         0.0
 4         0.0
 5         0.0
          ...
 193581    0.0
 193583    0.0
 193585    0.0
 193587    0.0
 193609    0.0
 Name: 313, Length: 9724, dtype: float64)

In [24]:
film_non_visionati = []
for index, value in rating_matrix.iloc[0].items():
    film_non_visionati.append((index,value))

film_non_visionati = list(filter(lambda item: item[1] == 0, film_non_visionati))

In [25]:
rating_stimato=[]
for (film,_) in film_non_visionati:
    #0 id vero utente
    rate=media_utenti.get(1)
    num=0
    den=0
    for (u,similarita,lista_film_rating) in top_k:
        den=den+similarita
        rate_u_film = lista_film_rating[film] - media_utenti.get(u)
        num=num+(similarita*rate_u_film)
    rating_stimato.append((film,rate+(num/den)))

In [26]:
rating_stimato.sort(key = lambda x: x[1], reverse=True)

### ARRICCHISCO LA STAMPA CON LE INFORMAZIONI RIGUARDO IL TITOLO E IL GENERE

In [27]:
ll = []
for item in rating_stimato:
    rslt_df = df_film[df_film['movieId'] == (item[0])]
    title=rslt_df.iloc[0]['title']
    genere=rslt_df.iloc[0]['genres'].replace("|", ",")
    score = item[1]
    ll.append([title, score, genere])
suggestions = pd.DataFrame(ll[0:50], columns = ['TITOLO', 'RATING PREDETTO', 'GENERE'])

In [28]:
suggestions

,TITOLO,RATING PREDETTO,GENERE
0,"Godfather, The (1972)",5.034600,"Crime,Drama"
1,Aliens (1986),4.991028,"Action,Adventure,Horror,Sci-Fi"
2,Terminator 2: Judgment Day (1991),4.961012,"Action,Sci-Fi"
3,"Sixth Sense, The (1999)",4.809837,"Drama,Horror,Mystery"
4,"Hunt for Red October, The (1990)",4.805610,"Action,Adventure,Thriller"
5,"Godfather: Part II, The (1974)",4.703343,"Crime,Drama"
6,Die Hard (1988),4.636191,"Action,Crime,Thriller"
7,2001: A Space Odyssey (1968),4.469511,"Adventure,Drama,Sci-Fi"
8,Blade Runner (1982),4.414505,"Action,Sci-Fi,Thriller"
9,"Breakfast Club, The (1985)",4.378869,"Comedy,Drama"
10,Star Trek II: The Wrath of Khan (1982),4.235676,"Action,Adventure,Sci-Fi,Thriller"
11,Gattaca (1997),4.090844,"Drama,Sci-Fi,Thriller"
12,Airplane! (1980),3.992847,Comedy
13,"Fifth Element, The (1997)",3.933967,"Action,Adventure,Comedy,Sci-Fi"
14,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),3.909614,"Mystery,Sci-Fi,Thriller"
15,True Lies (1994),3.879459,"Action,Adventure,Comedy,Romance,Thriller"
16,Jaws (1975),3.820936,"Action,Horror"
17,Ferris Bueller's Day Off (1986),3.769217,Comedy
18,Star Trek III: The Search for Spock (1984),3.732106,"Action,Adventure,Sci-Fi"
19,Raising Arizona (1987),3.654150,Comedy
20,Contact (1997),3.566500,"Drama,Sci-Fi"
21,Escape from New York (1981),3.503020,"Action,Adventure,Sci-Fi,Thriller"
22,"Untouchables, The (1987)",3.471306,"Action,Crime,Drama"
23,Star Trek: First Contact (1996),3.447382,"Action,Adventure,Sci-Fi,Thriller"
24,Stand by Me (1986),3.389401,"Adventure,Drama"
25,In the Line of Fire (1993),3.351773,"Action,Thriller"
26,Austin Powers: The Spy Who Shagged Me (1999),3.235888,"Action,Adventure,Comedy"
27,"Fish Called Wanda, A (1988)",3.184875,"Comedy,Crime"
28,Mars Attacks! (1996),3.170981,"Action,Comedy,Sci-Fi"
29,Air Force One (1997),3.169706,"Action,Thriller"
30,Top Gun (1986),3.144293,"Action,Romance"
31,"Crow, The (1994)",3.107884,"Action,Crime,Fantasy,Thriller"
32,Star Trek IV: The Voyage Home (1986),3.101990,"Adventure,Comedy,Sci-Fi"
33,Army of Darkness (1993),3.093323,"Action,Adventure,Comedy,Fantasy,Horror"
34,Glory (1989),3.081615,"Drama,War"
35,"X-Files: Fight the Future, The (1998)",3.050665,"Action,Crime,Mystery,Sci-Fi,Thriller"
36,Deliverance (1972),3.050139,"Adventure,Drama,Thriller"
37,Election (1999),3.040383,Comedy
38,Shakespeare in Love (1998),3.034761,"Comedy,Drama,Romance"
39,Heathers (1989),3.007153,Comedy
40,Dr. Strangelove or: How I Learned to Stop Worr...,2.955643,"Comedy,War"
41,Vertigo (1958),2.920231,"Drama,Mystery,Romance,Thriller"
42,Heavy Metal (1981),2.906731,"Action,Adventure,Animation,Horror,Sci-Fi"
43,GoldenEye (1995),2.903245,"Action,Adventure,Thriller"
44,"Christmas Story, A (1983)",2.901038,"Children,Comedy"
45,Galaxy Quest (1999),2.892684,"Adventure,Comedy,Sci-Fi"
46,Brazil (1985),2.884259,"Fantasy,Sci-Fi"
47,Scream (1996),2.868343,"Comedy,Horror,Mystery,Thriller"
48,There's Something About Mary (1998),2.855988,"Comedy,Romance"
49,"Thing, The (1982)",2.855489,"Action,Horror,Sci-Fi,Thriller"